	@charset "UTF-8";
	
	@font-face{
	font-family: Helvetica;
	}

 	body {
    	margin: 2 auto 0 auto;
    	font-family: Helvetica;
    	font-size: 14px;
    	background-color: #191a1d;
  	}
	
	.input-text { 
	height: 35px; 
	font-size: 14px;
	padding: 5px;
	} 
	
	form{
    margin: auto;
	}
	.search { 
		padding:6px 15px 6px 30px;
		margin:3px; 
	}

	.rounded { 
		border-radius:15px; 
		-moz-border-radius:15px; 
		-webkit-border-radius:15px; 
	}

	input[type=text]{
		color:#727272;
	}

	input[type=button], input[type=button]:hover {
		position:relative; 
		left:-6px;
		border:1px solid #adc5cf;
		background: #e4f1f9; /* Old browsers */
		background: -moz-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f1f9), color-stop(100%,#d5e7f3)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* IE10+ */
		background: linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f1f9', endColorstr='#d5e7f3',GradientType=0 ); /* IE6-9 */
		color:#7da2aa;
		cursor: pointer;
	}

	.forms{
		height:50px;
		padding:40px 25px;
	}
	.forms input[type=text]{
		border:1px solid #202225;
		background-color:#202225;
		outline:none;
	}
